@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to the 142nd Bulldogs Portal!</h1>
</div>

<div class="d-grid gap-2">
       <a href="/RSVP"> <button class="btn btn-primary position-absolute top-50 start-50 translate-middle" type="button">Click here to sign up for the operation!</button> </a>
</div>