@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="container">
@if (SignInManager.IsSignedIn(User))
{
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Bulldogsportal<a class="nav-link text-dark" asp-area="Identity" asp-page="#">Edit Event</a>
            </div>
        </footer>
}
else
{
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Bulldogsportal<a class="nav-link text-dark" asp-area="Identity" asp-page="#">Admin Login</a>
            </div>
        </footer>
}
</ul>
